body{
    background-color:rgb(10, 5, 26);
    display: flex;
    justify-content: center;
}
form{
    width: 70%;
    height: 70%;
    margin-top: 12%;

}
h3{
    text-align: center;
}
.label{
    margin: 5px ;
    display: block;
}
.caixa{
    width: 400px;
    height: 750px;
    background-color: rgb(255, 230, 195);
    padding: 30px;
    border-radius: 10px;
    display: flex; 
    justify-content: center;
}
.input_checkbox{
    display: inline-block;
}
.caixa_Input{
    height: 10%;
}
.input{
   height: 24px;
   width: 98%;
   border-radius: 5px;
   box-shadow: rgb(83, 83, 83) 3px 3px;
   border: none;
}
.caixa_enviar{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.enviar{
    background-color: rgb(104, 104, 218);
    border: none;
    height: 30px;
    width: 30%;
    margin-left: 5px;
    border-radius: 3px;
    color: aliceblue;
}
.input:active{
    border: none;
    outline: none;
}
textarea{
    width: 100%;
}
